.currentUser {
  margin-left: 5em;
  padding-top: 1em;
  font-weight: bold;
}

#chat-box {
  width: calc(100% - 15em);
  height: 100vh;
  float:left;
}

.chat-messages {
  height: 80vh;
  border: 1px solid black;
  padding-left: 1em;
  overflow: auto;
}

.chat-input {
  height: 20vh;
  border: 1px solid black;

}

.chat-form {
  padding-left: 1em;
}

.chat-area {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 15em);
  margin-top: 1.5em;
  border: 2px solid green;
}



#chat-nav {
  width: 15em;
  height: 100vh;
  border: 1px solid green;
  float:left;
}


.circle {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 5px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.top-i {
  width: 1.2em;
  height: 1.2em;
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 1em;

}

.bottom-i {
  width: .75em;
  height: 4em;
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

hr {
  height: 1px;
  background-color: green;
}

p {
  padding-left: 1em;
}

.planets {
  height: 30vh;
}

.planet-list, .directMessage-list{
  padding-top: .5em;
  padding-bottom: .5em;
  cursor: pointer;
  margin: 0;
  list-style: none;
}

.planet-name, .directMessage-name {
  color: black;
}

.planet-list.active {
  background-color: lightgreen;
  width: 13em;
}

.directMessage-list.active {
  background-color: lightgreen;
  width: 13em;
}
